# まず全部無視
data/input/1U/**
data/output/1U/**
data/input/2U/**
data/output/2U/**

# フォルダだけ復活
!data/input/1U/**/
!data/output/1U/**/
!data/input/2U/**/
!data/output/2U/**/

# 特定ファイルだけ許可
!data/input/1U/**/*.txt
!data/output/1U/**/*.txt
!data/input/2U/**/*.txt
!data/output/2U/**/*.txt

# キャッシュ
**/__pycache__/**
