data/input/1U/*
data/output/1U/*
data/input/2U/*
data/output/2U/*
**/__pycache__/**


# ただしプレースホルダーは除外（= 追跡する）
!data/input/1U/git_keep*.txt
!data/output/1U/git_keep/*.txt
!data/input/2U/git_keep*.txt
!data/output/2U/git_keep*.txt
